:root {
  --parent-bg: #534f5c;
  --color: #d7dfac;
  --bg: #333044;
  --border: #73615a;
}
html {
  font-size: clamp(12px, 16px, 16px);
  box-sizing: border-box;
  color: var(--color);
  background-color: var(--parent-bg);
  font-family: "MondaReg", Arial, Helvetica, sans-serif;
}
